.popup-page{
    width: 100vw;
    height: 100vh;
    background-color: rgba(91, 90, 90,0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
}

.popup-page .part{
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 900px;
    border-radius: 10px;
    background-color: white;
    
}

.mySlides {
    display: none;
}


/* part-1 */

.part .part-1 {
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-con{
    vertical-align: middle;
    width: auto;
    height: 300px;
    margin: auto;
}

/* Caption text */
.text {
    color: #110f0f;
    font-size: 15px;
    width: 100%;
    text-align: center;
}
.text h2{
    font-size: 20px;
    font-weight: 500;
}
.text p{
    font-size: 14px;
}

.part .part-2 {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;
}

.part-2 .icon{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.part-2 .head{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    margin: 0px auto;
}
.head-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.head h2{
    font-size: 28px;
    font-weight: 500;
}
.head p{
    font-size: 12px;
}
.part-2 input{
border: none;
border-bottom: 1px solid red;
width: 316px;
height: 40px;
margin: 0px auto;
margin-bottom: 65px;
}
.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
}
.bottom button{
    border: none;
    height: 40px;
    width: 316px;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(255,111,97);
    border-radius: 5px;
    color: white;
}
.txt, .txt2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.txt-1, .txt-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.txt h3, .txt2 h3{
    color: rgb(255,111,97);
    font-size: 15px;
    font-weight: 400;
    /* line-height: 0; */
}
.tx2{
    line-height: 0.4;
}
.txt, .txt2 p{
    font-size: 14px;
    color: rgb(151,151,151);
    /* line-height: 0; */
}
.txt2 a{
    font-size: 12px;
    color: rgb(151,151,151);
}


@media screen and (max-width: 500px) { 
   .part{
    width: 80% !important;
   }
   .part-2{
    height: fit-content;
    width: 70% !important;
   }
   .head h2{
    font-size: 18px;
   }
   .bottom button{
    width: inherit;
   }
   .img-con{
    height: 200px;
   }
   p,h3{
    margin: 10px 0px;
   }
}